[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.12.1"
beautifulsoup4 = "==4.15.0"
colorama = "==0.4.6"
dj-database-url = "==3.1.2"
django = "==5.2.7"
django-cors-headers = "==4.9.0"
djangorestframework = "==3.18.1"
gunicorn = "==26.2.0"
packaging = "==26.3"
pillow = "==12.3.0"
pymysql = "==1.2.3"
python-decouple = "==3.8"
python-dotenv = "==1.2.4"
qrcode = "==8.2"
soupsieve = "==2.10"
sqlparse = "==0.6.0"
typing-extensions = "==4.16.0"
tzdata = "==2026.4"
whitenoise = "==6.12.0"

[dev-packages]

[requires]
python_version = "3.12"
