    <!-- Newsletter Section -->
    <section class="newsletter-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3>Subscribe to Our Newsletter</h3>
                    <p>Stay updated with the latest news, events, and announcements from Wachemo secondary and preparatory school.</p>
                </div>
                <div class="col-lg-6">
                    <form class="newsletter-form">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your Email Address">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

  
  
  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <img src="https://1drv.ms/i/c/7389654435428074/IQR-zoIv7SkQS5SzfdUf-3qWAZ-KzS2mwEMxqVcMwm6oLx8?width=500&height=500" alt="Wachemo School Logo" class="footer-logo">
                        <p>Wachemo secondaryand preparatory school is committed to providing quality education through innovative teaching methods and state-of-the-art facilities.</p>
                        <div class="footer-social">
                            <a href="https://www.linkedin.com/in/birukdjn"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/birukdjn"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/birukdjn"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/birukdjn"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/birukdjn"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="footer-links">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'features' %}">Portal Features</a></li>
                            <li><a href="{% url 'news' %} ">News </a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'event' %}">Events</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Important Links</h3>
                        <ul class="footer-links">
                            <li><a href="#">Academic Calendar</a></li>
                            <li><a href="#">School Policies</a></li>
                            <li><a href="#">Exam Results</a></li>
                            <li><a href="#">Staff Directory</a></li>
                            <li><a href="#">School Fees</a></li>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Contact Info</h3>
                        <ul class="footer-contact">
                            <li><i class="fas fa-map-marker-alt"></i> Hossana city, CERS, Ethiopia</li>
                            <li><i class="fas fa-phone"></i> +251 908 574 808 </li>
                            <li><i class="fas fa-envelope"></i> info@wachemoSaPS.edu.et</li>
                            <li><i class="fas fa-clock"></i> Mon-Fri: 8:00 AM - 5:00 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2025 Wachemo secondary and preparatory school.</p> 
                        <p>All Rights Reserved.</p>
                        <p>Privacy Policy | Terms of Service</p>
                        
                    </div>
                    <div class="col-md-4 text-end">
                        <p>Designed by <i class="fas fa-computer "></i>  BIRUK DEJENE</p>
                        <p>Contact me <i class="fas fa-phone"></i> <a href="tel:+251908574808">+251 908 574 808</a></p>
                        <p>Email  <i class="fas fa-envelope"></i> <a href="mailto:birukedjn@gmail.com"> birukedjn@gmail.com</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
