{% extends "base.html" %}


{% block title %}Events - wachemoSaPS{% endblock %}

{% block content %}

<section class="events-section">
        <div class="container ">
            <div class="section-header text-center">
                <h2>Upcoming Events</h2>
                <p>Mark your calendars for these important dates</p>
                <div class="divider-center"></div>
            </div>
            <div class="row " >

                {% for event in events %}

                <div class="col-lg-6 ">
                    <div class="event-card event-container">
                        <div class="event-date">
                            <span>{{ event.day }} </span>
                            <span>{{ event.month }}</span>
                        </div>
                        <div class="event-details">
                            <h3>{{ event.title }}</h3>
                            <p><i class="fas fa-clock"></i> {{ event.duration }}<i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
                            <p>{{ event.description }}</p>
                            <a href="#" class="btn btn-sm btn-outline-primary">More Details</a>
                        </div>
                    </div>
                </div>

                {% endfor %}

              
            </div>
            
        </div>
</section>


{% endblock %}